body{
  font-family:Arial;
  background:skyblue;
}
.navbar{
    background:pink;
    color:violet;
    padding: 12px;
}
button{
    background:orange;
    color:skyblue;
    padding: 10px;
}
