body {
    margin: 0;
    font-family: Arial;
    background:skyblue;
}

nav {
    background:skyblue;
    color: white;
    padding: 15px 30px;
    align-items: center;
}

h1, h2, h3 {
    color: pink;
}
}

